* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

/* utils */
.border-none {
  border: none;
}

.transparent {
  background: transparent;
}

button {
  cursor: pointer;
}

/* header */
.header {
  display: grid;
  grid-row: none;
  grid-template-columns: 1fr 6fr 1fr;
  gap: 20px;
  height: 60px;
}

.header__left {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.header__hamburger-menu {
  padding: 8px;
}

.header__hamburger-menu span {
  cursor: pointer;
}

.header__logo-link {
  text-decoration: none;
  color: #333;
}

.header__logo-link h1 {
  font-size: 24px; 
}


.header__center {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

.search-form {
  width: 50%;
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
  min-width: 720px;
  margin: 0 auto;
}

.search-form input {
  padding: 4px 8px;
  height: 40px;
  border: 1px solid #BFBFBF;
  border-radius: 1px;
}

.search-form > div > button:nth-child(1)
{
  padding: 4px 20px;
  height: 40px;
  border-top: 1px solid #BFBFBF;
  border-right: 1px solid #BFBFBF;
  border-bottom: 1px solid #BFBFBF;
  background-color: #F9F9F9;
}
.search-form > div > button:nth-child(1):hover
{
  background-color: #EEEEEE;
}
.search-form > div > button:nth-child(2)
{  
  padding: 4px 8px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  background-color: #F8F8F8;

}


.header__input::placeholder
{
  font-size: 16px;
}

.header__right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

main
{
  min-height: calc(100vh - 120px);
  display: grid;
  grid-template-columns: 1fr 7fr;
  gap: 20px;
}


/* sidebar */
.sidebar {
  min-width: 125px;
  display: block;
}

.sidebar__nav-item{
  width: 100%; 
  display: flex; 
  align-items: center;
  padding: 0 0 0 20px;
}

.sidebar__nav-item.on {
  background-color: #ddd;
}

.sidebar__nav-item:hover {
  background-color: #ddd;
}

.sidebar__nav-item.home {
  display: flex;
}

.sidebar__nav-item.history {
  display: flex;
}

.sidebar__nav-item button {
  display: flex;
  align-items: center;
  flex: 1;
  height: 48px;  
}
.sidebar__nav-item button span {
  margin-right: 4px;
}

.sidebar__nav-item button span:nth-child(2)
{
  font-size: 14px;
  padding: 0 0 0 20px;
}


.home #home {
  display: block;
}

.history #history {
  display: block;
}

#home {
  display: none;
}

#history {
  display: none;
}

#home h2, #history h2 
{
  font-size: 20px;
  padding: 15px 0 15px 80px;
  border-top: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
}

#history h3
{
  padding: 20px 0 20px 80px;
}

#home .video-list
{
  background-color: #F9F9F9;
  font-family: "Roboto","Arial",sans-serif;
}

#home .video-list .video-item__details .video-item__meta
{
  color: #606060;
  line-height: 17px;
  padding: 0 0 0 5px;
}

#home .video-list .video-item__details .video-item__meta .title
{
  color: #030303;
  font-weight: 400;
  line-height: 1.25em;
}

/* home */
.video-list {
  min-width: 600px;
  margin: 0;
  padding: 24px 81.28px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.video-items {
  display: flex;
  flex-direction: column;
}

.video-item {
  cursor: pointer;
}

.video-item .thumbnail {
  max-width: 100%;
}

.video-item__details {
  display: flex;
  justify-self: space-between;
  padding: 16px 0;
}

.video-item__details .profile {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 8px;
}

.video-item__meta .title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.video-item__meta .author {
  font-size: 14px;
  margin-bottom: 4px;
}

.video-item__meta .stat {
  font-size: 14px;
}


/*  */


/* history */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 60px;
  margin: 0 auto;
  min-width: 600px;
}

.footer__link {
  color: #333;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}




